<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
<head>
<meta charset="UTF-8" />
<title>Artigos</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->

</head>
<body>
	<div class="container my-2">
		<a th:href="@{/artigos/novo}" class="btn btn-primary btn-sm mb-3">Incluir Aritgo</a>
		<h1>Artigos</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
                    <th>ID</th>
					<th>Titulo</th>
					<th>Resumo</th>
					<th>Publicado</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="artigo : ${listaArtigos.content}">
					<td th:text="${artigo.id}"></td>
					<td th:text="${artigo.titulo}"></td>
					<td th:text="${artigo.resumo}"></td>
					<td th:text="${artigo.publicado}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>